<!-- one big todo -->

<!DOCTYPE html>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
</head>
<body>
<c:forEach items="${AllPosts}" var="receipt">
    <tr>
        <td>${receipt.nombreReceta}</td>
        <td>${receipt.catidadIngredientes}</td>
        <td>${receipt.ingredientes}</td>
        <td>${receipt.modoPreparacion}</td>
        <td>${receipt.calorias}</td>
        <td>${receipt.tiempo}</td>
        <td>${receipt.dificultad}</td>
    </tr>
</c:forEach>
</body>
</html>